<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" routerLink="about">Blog App</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="addpost"><b>ADD_POST</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="home"><b>RECENT_BLOG</b></a>
        </li>
       
      </ul>
      
        <input class="form-control" type="search" placeholder="Search">

        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
     
    </div>
  </nav>
  
  